.movies {
    display: flex;
    flex-wrap: wrap;
    padding: 20px;

}

.loader {
    height: 100vh;
    display: flex;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0;
    width: 100vw;
    align-items: center;
}