.menuItem {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;

}
.searchMovies {
    display: inline-flex;
    margin: 30px;
    color: red ;
    font-size: 20px;   
}

a {
    text-decoration: none;
    color: red;
}

.viewBookings{
    display: inline-flex;
    margin: 30px;
    font-size: 20px;
    color: hotpink;
}
.auth{
    display: inline-flex;
    margin: 30px;
    font-size: 15px;
    float: right;
}

.user{
    display: inline-flex;
    margin: 30px;
    font-size: 15px;
    float: left;
}
.searchbox{
    height: 50px;
    width: 50%;
    margin-left: 10px;
    border-color: pink;
    background-color: transparent;
    color: #9d9fb0;
    font-size: 20px;
    font-weight: lighter;
    margin-top: 10px;
    border-style: groove;
    padding-left: 16px;
}

.userName {
    text-transform: capitalize;
    }