  .authContainer{
    display: flex;
    flex-direction: column;
    align-content: center;
    margin: 10%;
  }
  
.siginForm {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    align-content: center;
  }

  .authlabel {
    line-height: 2;
    text-align: left;
    display: block;
    margin-bottom: 13px;
    margin-top: 20px;
    font-size: 14px;
    font-weight: 200;
  }
  
  
  .authbutton {
    display: flex;
    justify-content: center;
    align-content: center;
    padding-top: 30px;
  }

  .usernameInput{
      display: flex;
      font-size: 15px;  
      width: 300px; 
      height: 35px;
  }

  .passwordInput{
    display: flex;
    font-size: 15px;  
    width: 300px; 
    height: 35px;
}
 

.back-to-app{
  display: flex;
  float: left;
  margin-left: 20%;  
  margin-top: 5%;
}